@import "../../../../scss/index.scss";

.edit-menu-web-form {
  .form-edit {
    text-align: center;

    .ant-form-item {
      margin-top: 10px;
      margin-bottom: 10px;

      svg {
        color: rgb(0, 0, 0, 0.25);
      }
    }

    .btn-submit {
      width: 100%;
    }
  }
}
